<div class="blog-main box text-center" id="post_<%= post.id %>">
  <div class="panel panel-info">
     <div class="panel-heading">
        <p><%= post.content %></p>
     </div>

     <div class="panel-body">
      <div style="color: #3BB2D6;"><%= time_ago_in_words(post.created_at) %></div>
        <br>

        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myupdatepost_<%= post.id %>">
            Edit
          </button>
         <%= link_to 'Destroy', post, method: :delete, class: "btn btn-danger", remote: true %>
        </div>
   </div>
</div>
